<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License version 3, as published by
the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %} {% load static %} {% load i18n %} {% block head_js %}
<script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/ext/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'JS/ext/reconnecting-websocket-iife.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/busqueda_grabacion.js' %}"></script>
{% endblock %} {% block content %} {% load calificacion_grabacion %}

<h1>{% trans 'Buscar grabación' %}</h1>
<input id="user_id" type="hidden" value="{{user_id}}">
<div id="wrapper-search">
    <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span>
        {% trans 'Buscar' %}</button>
    <div id="wrapperSearchForm" class="show">
        <form id="form-buscar-grabacion" role="form" method="post" enctype="multipart/form-data">
            {% include "base_form_fields.html" with form=form %}
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                {% trans 'Buscar' %}
            </button>
        </form>
    </div>
</div>
<div class="wrapper-results">
    <div class="row ml-2">
        <div class="col-md-3">
            <div class="row">
                <input type="button" class="btn btn-outline-primary btn-sm mb-2" value="{% trans 'Generar zip de grabaciones' %}" id="zipGrabaciones"></input>
                <a class="hidden mb-2" id="zipDescargaLink">{% trans "Descargar archivo de grabaciones (ZIP)" %}</a>
            </div>
            <div id="barraProgresoZip" class="hidden mt-1">
                <div class="progress ">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="check-mostrar-datos-contacto">{% trans "Agregar username de agente y datos de contacto:" %}</label>
            <input class=" ml-0 mt-0" type="checkbox" name="check-mostrar-datos-contacto" id="check-mostrar-datos-contacto" title="{% trans '¡Advertencia! Esta acción puede consumir más recursos de los esperados, según el rango de fecha seleccionado.' %}" >
        </div>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <input class=" ml-0 mt-0" type="checkbox" value="" id="check-general">
                </th>
                <th></th>
                <th>{% trans 'Fecha' %}</th>
                <th>{% trans 'Tipo de llamada' %}</th>
                <th>{% trans 'Teléfono cliente' %}</th>
                <th>{% trans 'Agente' %}</th>
                <th>{% trans 'Campaña' %}</th>
                <th>{% trans 'Grabación' %}</th>
                <th>{% trans 'Calificacion' %}</th>
                <th>{% trans 'Descripción' %}</th>
                <th style="display:none;">{% trans 'Username' %}</th>
                <th style="display:none;">{% trans 'ContactoId' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for grabacion in listado_de_grabaciones %}
            <tr id="tr-{{grabacion.origen.id}}">
                <td> <input class="form-check-input ml-0 check-grabacion" type="checkbox" value="{{grabacion.origen.id}}"></td>
                <td>
                    {% if grabacion.transfer %}
                    <a class="btn btn-primary p-1" data-toggle="collapse" href=".grab{{grabacion.origen.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-chevron-circle-down"></i>
                    </a> {% endif %}
                </td>
                <td>{{ grabacion.origen.time|date:"Y-m-d H:i"}}</td>
                <td>{{ grabacion.origen.tipo_llamada_show}}</td>
                <td>{{ grabacion.origen.numero_marcado}}</td>
                <td>{{ grabacion.origen.agente}}</td>
                <td>{{ grabacion.origen.campana}}</td>
                <td>
                    <audio controls>
                        <source src="{{base_url}}{{ grabacion.origen.url_archivo_grabacion_url_encoded }}" type='audio/mpeg'>
                        {% trans 'Escuchar' %}
                    </audio>
                    <a href="{{base_url}}{{ grabacion.origen.url_archivo_grabacion_url_encoded }}" target="_blank">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true" title="{% trans 'Descargar' %}"></span>
                    </a>
                </td>
                <td>
                    {% for calificacion in calificaciones %} {% es_calificacion_llamada grabacion.origen calificacion as calificacion %} {% if calificacion %}
                    <a href="{% url 'auditar_calificacion' calificacion.opcion_calificacion.campana_id calificacion.contacto_id %}">
                        {% if calificacion.agendado %}
                            {{ calificacion.opcion_calificacion.nombre }} {{ calificacion.get_tipo_agenda_display }}
                        {% else %} 
                            {{ calificacion.opcion_calificacion.nombre }}
                        {% endif %}
                    </a> <br> {% endif %} {% with auditoria=calificacion.instance.obtener_auditoria %} {% if auditoria %} {% if auditoria.es_aprobada %}
                    <button class="btn aprobada" type="button" data-toggle="modal" data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                        {% elif auditoria.es_rechazada %}
                        <button class="btn rechazada" type="button" data-toggle="modal"
                            data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                            {% elif auditoria.es_observada %}
                            <button class="btn observada" type="button" data-toggle="modal"
                                data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                                {% else %}
                                <button class="btn" type="button" data-toggle="modal"
                                    data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                                    {% endif %}
                                    {% trans 'Auditoría' %}
                                </button> {% endif %}{% endwith %}{% endfor %}
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#descripcionModal" data-uid="{{ grabacion.origen.callid }}">{% trans 'Descripción' %}
                    </button>
                </td>
                <td style="display:none;">{{ grabacion.origen.agente.user}}</td>
                <td style="display:none;">{{ grabacion.origen|select_contacto_id}}</td>
            </tr>
            {% if grabacion.transfer %}
              {% for transfer in grabacion.transfer %}
                <tr class="collapse grab grab{{grabacion.origen.id}}">
                    <td colspan="2"></td>
                    <td>{{ transfer.time|date:"Y-m-d H:i"}}</td>
                    <td>{{ transfer.tipo_llamada_show}}</td>
                    <td>{{ transfer.numero_marcado}}</td>
                    <td> {% if transfer.numero_extra != '-1' %}{{ transfer.numero_extra}}{% else %} {{transfer.agente}}{{ transfer.numero_extra}}{% endif %}</td>
                    <td>{{ transfer.campana}}</td>
                    <td>
                        <audio controls>
                            <source src="{{base_url}}{{ transfer.url_archivo_grabacion_url_encoded }}" type='audio/mpeg'>
                            {% trans 'Escuchar' %}
                        </audio>
                        <a href="{{base_url}}{{ transfer.url_archivo_grabacion_url_encoded }}" target="_blank">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true" title="{% trans 'Descargar' %}"></span>
                        </a>
                    </td>
                    <td>
                        {% for calificacion in calificaciones %} {% es_calificacion_llamada transfer calificacion as calificacion %} {% if calificacion %}
                        <a href="{% url 'auditar_calificacion' calificacion.opcion_calificacion.campana_id calificacion.contacto_id %}">
                            {{ calificacion.opcion_calificacion.nombre }}</a> {% endif %} {% with auditoria=calificacion.instance.obtener_auditoria %} {% if auditoria %} {% if auditoria.es_aprobada %}
                        <button class="btn aprobada" type="button" data-toggle="modal" data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                            {% elif auditoria.es_rechazada %}
                            <button class="btn rechazada" type="button" data-toggle="modal"
                                data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                                {% elif auditoria.es_observada %}
                                <button class="btn observada" type="button" data-toggle="modal"
                                    data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                                    {% else %}
                                    <button class="btn" type="button" data-toggle="modal"
                                        data-target="#mostrarAuditoria{{ forloop.counter }}" id="mostrar_info">
                                        {% endif %}
                                        {% trans 'Auditoría' %}
                                    </button> {% endif %}{% endwith %}{% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#descripcionModal" data-uid="{{ transfer.callid }}">{% trans 'Descripción' %}
                        </button>
                    </td>
                </tr>
              {% endfor %}
            {% endif%} {% empty %}
            <tr>
                <td colspan="7">{% trans 'No existen grabaciones para el filtro seleccionado' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal Resultados Auditoria -->
    {% for calificacion in calificaciones %}
    <div class="modal fade" id="mostrarAuditoria{{ forloop.counter }}" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modalAuditoria">
                {% with auditoria=calificacion.instance.obtener_auditoria %}
                <div class="modal-header">
                    <h2 class="modal-title">{% trans 'Resultado Auditoria' %}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>{% trans 'Resultado Auditoria: '%}</b>{{auditoria.get_resultado_display}}</p>
                    <p><b>{% trans 'Observaciones: '%}</b>{{auditoria.observaciones}}</p>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if listado_de_grabaciones.has_previous %}
            <li class="page-item">
              <a class="page-link" href="#" aria-label="First" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.first}})">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">{% trans 'Principio' %}</span>
              </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.previous_page_number}})">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
            {% endif %} {% for page in pages %}
            <li class="page-item {% if listado_de_grabaciones.number == page  %}active{% endif %}"><a class="page-link" href="#" onclick="javascript:filtrar_pagina({{page}})">{{ page }}</a></li>
            {% endfor %} {% if listado_de_grabaciones.has_next %}
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.next_page_number}})">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Last" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.paginator.num_pages}})">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Final' %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="modal fade" id="descripcionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="descripcionModalLabel"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="description-text" id="descripcion-text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'ominicontacto/CSS/ext/select2.min.css' %}">
</link>
<link rel="stylesheet" href="{% static 'ominicontacto/CSS/auditoria.css' %}">
</link>
<link rel="stylesheet" href="{% static 'ominicontacto/CSS/grabaciones.css' %}">
</link>
{% endblock %} {% block extra_js %}

<script>
    /* se activa en todos los campos de selección un plugin para
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               JQuery que permite una mejor búsqueda */
    $(document).ready(function() {

        $('select.form-control').each(function() {
            $(this).select2();
        });


        /* $('#id_campana').attr('class', 'select2-hidden-accessible');*/

        $('#descripcionModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var uid_val = button.data('uid');
            var modal = $(this);
            var URL = Urls.grabacion_descripcion(uid_val);
            $.get(URL, function(data) {
                    $('#descripcionModalLabel').text(data.result);
                    $('#descripcion-text').text(data.descripcion);
                    console.log(data);
                })
                .fail(function(data) {
                    $('#descripcionModalLabel').text("{% trans 'Error' %}");
                    $('#descripcion-text').text("{% trans 'Ha ocurrido un error al intentar conectarse' %}");
                    console.log(data);
                });
        });
    });
</script>
{% endblock %}
