<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License version 3, as published by
the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load static %}
{% for registro in registros %}

  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-ms-1 col-xs-1">
        <img height='15' width='15'
              {%if registro.tipo_llamada in tipos_salientes %}
                src="{% static 'ominicontacto/Img/incomingCall.png' %}" 
              {% else %}
                src="{% static 'ominicontacto/Img/outgoingCall.png' %}"
              {% endif %}/>
      </div>
      <div class="col-lg-6 col-ms-6 col-xs-6">
        <a class="btn btn-submit btn-outline-primary" style="font-size:.75rem;" href="javascript:;" onclick="click2call.call_contact('{{ registro.campana_id }}', '{{ registro.tipo_campana }}', '{{ registro.contacto_id }}', '{{ registro.numero_marcado }}', 'contactos');">
        {{ registro.numero_marcado }}
      </a>
      </div>
      <div class="col-lg-4 col-ms-4 col-xs-4" style="font-size:.75rem; text-align:center;">
        <div>{{ registro.time | date:"d-m" }} / {{ registro.time | date:"H:i:s" }} </div>
      </div>
    </div>
  </div>
{% endfor %}