<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License version 3, as published by
the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campanas/wizard_base.html" %}
{% load i18n %}
{% load static %}
{% load util_tags %}
{% load widget_tweaks %}

{% block head_js %}
   <script type="text/javascript"
          src="{% static 'ominicontacto/JS/campanas/formularioNuevaEditaCampana.js' %}">
   </script>
   <script type="text/javascript" src="{% static 'ominicontacto/JS/interaccion.js' %}">
   </script>
   <script type="text/javascript" src="{% static 'ominicontacto/JS/campoDireccion.js' %}"></script>
   <script type="text/javascript" src="{% static 'ominicontacto/JS/ext/select2.min.js' %}"></script>
{% endblock head_js %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/ext/select2.min.css' %}"></link>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Preview: Datos básicos' %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        {% if interaccion_crm %}
            <li class="disabled"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
        {% endif %}
        {% if not es_template and create %}
            <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
            <li class="disabled"><a>{% trans 'Adicionar agentes' %}</a></li>
            {% if create %}
                <li class="disabled"><a>{% trans 'Asignación inicial de contactos a agentes' %}</a></li>
            {% endif %}
        {% endif %}
   </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ form.nombre.id_for_label }}">{% trans 'Nombre:' %}</label>
                {{ form.nombre|add_class:"form-control" }}
                <small class="form-text text-muted">
                    {% trans 'Los espacios, tildes, ñ-es y otros caracteres no ASCII no están permitidos.' %}
                </small>
                {{ form.nombre.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.bd_contacto.id_for_label }}">{% trans 'Base de Datos de Contactos:' %}</label>
                {{ form.bd_contacto }}
                {{ form.bd_contacto.errors }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.control_de_duplicados.id_for_label }}">{% trans 'Control de contactos duplicados:' %}</label>
                {{ form.control_de_duplicados }}
                {{ form.control_de_duplicados.errors }}
            </div>
            <div class="myradio hidden">{{ form.tipo_interaccion.0 }}</div>
            {{ form.tipo_interaccion.errors }}
            {% if form.instance.pk %}
                {% if form.instance.tipo_interaccion|interaccion_crm %}
                    <div class="col-md-6">
                        <label>{% trans "Sitio Externo" %}</label>
                        {{ form.sitio_externo|add_class:"edit_url" }}
                        {{ form.sitio_externo.errors }}
                    </div>
                {% endif %}
            {% else %}
            {{ form.tipo_interaccion.errors }}
            <div class="col-md-2">
              <label> {% trans "Tipo de Interacción" %}</label>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.0 }}</div>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.1 }}</div>
                <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.2 }}</div>
            </div>
            <div class="col-md-5">
                <label><div class="myradio" id="url_externa">
                {% trans "Url Externa" %}</div> </label>
                {{ form.sitio_externo.errors }}
                {{ form.sitio_externo }}
            </div>
        {% endif %}
        <div class="col-md-5">
            {{ form.campo_direccion.as_hidden }}
            <label for="{{ form.campo_direccion_choice.id_for_label }}">{% trans 'Campo para dirección:' %}</label>
            {{ form.campo_direccion_choice }}
            {{ form.campo_direccion_choice.errors }}
        </div>
        <div class="col-md-3">
            <label for="{{ form.auto_grabacion.id_for_label }}">{% trans 'Grabar llamados:' %}</label>
            {{ form.auto_grabacion }}
            {{ form.auto_grabacion.errors }}
        </div>
        <div class="col-md-2">
            <label>{% trans 'Objetivo:' %}</label>
            {{ form.objetivo }}
            {{ form.objetivo.errors }}
        </div>
        <div class="col-md-3">
            <label for="{{ form.sistema_externo.id_for_label }}">{% trans 'Sistema externo:' %}</label>
            {{ form.sistema_externo }}
            {{ form.sistema_externo.errors }}
        </div>
        <div class="col-md-3">
            <label for="{{ form.id_externo.id_for_label }}">{% trans 'ID en sistema externo:' %}</label>
            {{ form.id_externo }}
            {{ form.id_externo.errors }}
        </div>
        <div class="col-md-3">
            <label>{% trans 'Ruta Saliente: ' %}</label>
            {{form.outr}}
            {{form.outr.errors}}
        </div>
        <div class="col-md-3">
            <label>{% trans ' CID Ruta Saliente' %}</label>
            {{form.outcid}}
            {{form.outcid.errors}}
        </div>
        <div class="col-md-5">
            {{ form.tiempo_desconexion.errors }}
            <label>{% trans 'Tiempo de desconexión:' %}</label>
            <!-- <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
                 title="A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido">

            </div> -->
            {{ form.tiempo_desconexion }}
            <small class="form-text text-muted">
                {% trans 'A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido.' %}
            </small>
        </div>
        <div class="col-md-6">
            <label for="{{ form.speech.id_for_label }}">{% trans 'Speech:' %}</label>
            {{ form.speech }}
            {{ form.speech.errors }}
        </div>
    {% endwith %}
{% endblock %}
